<p>{{name}} sucks!</p>

<!-- -------------------------- property binding --------------------------- -->
<p [hidden]="isHidden">
    Ze suis caché !
</p>
<!-- ---------------------------- class bindings ---------------------------- -->
<!-- toggle la présence de la classe sur notre bouton selon la propriété isDisabled -->
<button 
type="submit" 
[class.banane]="isDisabled" 
[disabled]="isDisabled"
>Bouton</button>


<button type="button" 
[class.purple]="isPurple" 
[class.chartreuse]="!isPurple"
(click)="toggleIsPurple()"
>Hit me baby !</button>