<div class="banane">
    <h3>{{title}}</h3>
    <button (click)="toggleIsVisible()">
    {{isVisible ? "Cacher" : "Afficher"}}
    </button>
</div>

<p [hidden]="!isVisible">Aw, geez. Yeah, sure, I mean, if you spend all day shuffling words around, you can make anything sound bad. Alan Rails, ladies and gentlemen. After his parents' tragic death in a railroad accident, he gained the power to summon ghost trains. It's not all bad though, they were spared having to see their grown son wear a whistle. No! Look away! I'm making an egg, Mom! Ugh…! I'm making an egg!</p>
