{{title}}
<app-super-components></app-super-components>
<p>
  whololo
</p>

<app-zippy title="test" [isVisible]="true"></app-zippy>
<app-zippy2>
  <section>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex magni iste quasi ipsam! Tempora, impedit ipsum inventore iusto eius libero eveniet. Repudiandae possimus porro qui deleniti minus? Ipsam, voluptatum deleniti.
  </section>
  <div class="footer">
    Footer
  </div>
</app-zippy2>

<app-banana-in-a-box></app-banana-in-a-box>

<div>
  <h4>Truc Console</h4>
  <app-truc (trucEmitter)="consoleTruc($event)"></app-truc>
</div>

<div>
  <h4>Truc Alert</h4>
  <app-truc (trucEmitter)="alertTruc($event)"></app-truc>
</div>

<h1>Nombre de clics sur un bouton favori : {{ favoriteButtonClickCount }}</h1>
<app-exo-favorite [favName]="favName1" [isFavorite]="isFirstFavorite" (isFavoriteChange)="updateFavoriteCount($event)"></app-exo-favorite>
<app-exo-favorite [favName]="favName2" [isFavorite]="isSecondFavorite" (isFavoriteChange)="updateFavoriteCount($event)"></app-exo-favorite>
<app-exo-favorite [favName]="favName3" [isFavorite]="isThirdFavorite" (isFavoriteChange)="updateFavoriteCount($event)"></app-exo-favorite>
